<nav class="navbar navbar-expand-sm navbar-dark bg-danger">
  <div class="container">
    <a href="/home" class="navbar-brand">Galatasaray Galerisi</a>
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <a href="/home" class="nav-link">Anasayfa</a>
      </li>
      <li class="nav-item">
        <a href="/course/list" class="nav-link">Fotoğraflar</a>
      </li>
      <li class="nav-item">
        <a href="/home/contact" class="nav-link">İletişim</a>
      </li>
    </ul>
  </div>
</nav>
