.image.is-4by3 img {
  height: 160px;
}
.image.is-4by3 {
  padding-top: 160px;
}

.card .media:not(:last-child) {
  margin-bottom: 5px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
