.App{
    display: flex;
    flex-direction: column;
     align-items: center; /* yatay hizalama ama flex-direction: column olduğu için x ekseni dikey oldu dikey hizalar */
     /*
    justify-content: center;
    dikey hizalama ancak yukardaki durumda yata hizalama olur*/
}


.appButton{
    width: 25%;
    background-color: blue;
    color: white;
    border-radius: 13px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    border: 1px solid blue;
    transition: all 0.5s;

}

.appButton:hover{
    background-color: rgb(47, 116, 116);
    cursor: pointer;
}

.courseList{
    display: flex; /*tüm resimleri tek row'a sığdırmaya çalıştı*/
    flex-wrap: wrap; /* resimleri tam bittiği kenarlardan yan yana getirdi ve sığmayanı aşağı attı */
    justify-content: center;  /* normalde dikey hizalama ama en üstteki olaydan dolayı yatay hizalar */
}